body {
  margin: 0; }

header, #headerBuffer {
  height: 30vh; }

#headerBuffer, header {
  background-color: #060708;
  color: #EDE6E6; }

header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  text-align: center;
  box-shadow: 0 0 0 1px #E8DEDE; }

#headerBuffer, header, header a, header nav {
  transition: all 1s; }

#logo {
  display: inline-block;
  height: 70%; }

header img {
  height: 100%; }

header nav {
  width: 55vw;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto; }

nav span {
  float: left;
  width: 8vw;
  font-size: 2vh;
  font-family: 'Open Sans';
  transition: all .5s;
  padding: .8vh 0.5vw;
  margin-left: 1.5vw;
  outline: 1px solid #EDE6E6; }
  nav span a {
    text-decoration: none;
    color: #EDE6E6; }

nav span.selected {
  background-color: #63BBF0;
  outline: 1px solid #63BBF0; }
  nav span.selected a {
    color: #060708; }

nav span:hover {
  background-color: #245C92;
  color: white;
  outline: 1px solid #245C92; }

#headerBuffer.small, header.small {
  height: 10vh; }

header.small #logo {
  transform: translate(-30vw, 1.5vh); }

header.small nav {
  transform: translate(11vw, -6.5vh); }

header nav span {
  cursor: pointer; }

header nav span div {
  display: none; }
  header nav span div ul {
    padding: 0;
    list-style: none;
    outline: #060708 solid thin; }
    header nav span div ul a {
      float: left;
      width: 8vw;
      background-color: #060708;
      outline: #EDE6E6 solid thin; }
    header nav span div ul a:hover {
      background-color: #245C92;
      color: white; }

header nav span div.active {
  display: inherit; }

footer {
  text-align: center;
  padding: 1em;
  background-color: #060708;
  color: #EDE6E6;
  font-family: 'Roboto Slab'; }
  footer a {
    color: inherit;
    font-family: 'Open Sans', sans-serif; }
  footer a:hover {
    color: white; }
  footer b {
    font-family: 'Roboto', sans-serif; }
  footer ul {
    padding: 0;
    list-style: none; }

#footerTable {
  display: table;
  margin: 0 auto;
  border-spacing: 5em 1em; }

.footerCell {
  display: table-cell;
  line-height: 1.5; }

#slideshow, #slideshow > img {
  height: 70vh; }

#slideshow {
  position: relative;
  background-color: #060708; }

#slideshow > img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

#slideshow > .arrow {
  font-size: 4em;
  color: #E8DEDE;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); }

#slideshow > #left {
  left: 3vw; }

#slideshow > #right {
  right: 3vw; }

#grid {
  display: grid;
  height: 50vh;
  grid-template-areas: "history history audition audition" "history history contact facebook" "history history contact facebook" "history history contact facebook";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 1px solid #EDE6E6;
  border-bottom: 1px solid #EDE6E6; }

#grid div:not(.inside) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDE6E6;
  color: #060708; }

#grid .inside {
  text-align: center;
  margin: 2vh 2vw; }

#grid > #history {
  grid-area: history; }
  #grid > #history h2 {
    font-family: 'Roboto', sans-serif; }
  #grid > #history p {
    font-family: 'Open Sans', sans-serif; }

#grid > #audition {
  grid-area: audition; }
  #grid > #audition a {
    background: linear-gradient(#245C92, #63BBF0);
    text-decoration: none;
    text-transform: uppercase;
    color: #323232;
    border: 3px solid #245C92;
    border-radius: 5px;
    font-size: 5vh;
    font-family: 'Roboto Slab', serif;
    transition: all .5s;
    padding: 2vh 1vw; }
  #grid > #audition a:hover {
    background: linear-gradient(#245C92, rgba(182, 148, 239, 0.87));
    color: #060708; }

#grid > #contact {
  grid-area: contact; }

#grid > #facebook {
  grid-area: facebook; }

/*# sourceMappingURL=main.css.map */
